<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Avatar Settings</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAvatar()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>
            <div class="media-container">
                <img ng-if="(loggedUser.personalData.avatar_personal && loggedUser.personalData.avatar_personal !== '')" ng-src="data:image/jpeg;base64,{{loggedUser.personalData.avatar_personal}}" class="displayed" />
                <img ng-if="(!loggedUser.personalData.avatar_personal || loggedUser.personalData.avatar_personal == '') && (loggedUser.personalData.avatar && loggedUser.personalData.avatar !== '')" ng-src="{{loggedUser.personalData.avatar}}" class="displayed">
                <img ng-if="(!loggedUser.personalData.avatar_personal || loggedUser.personalData.avatar_personal == '') && (!loggedUser.personalData.avatar || loggedUser.personalData.avatar == '')" ng-src="{{defAvatar}}" class="displayed">
            </div>
            <button class="button button-block button-positive" ng-click="getImage('CAMERA')">Take Picture</button>
            <button class="button button-block button-positive" ng-click="getImage('PHOTOLIBRARY')">Get from Gallery</button>
        </form>
    </ion-content>
</ion-modal-view>