<ion-modal-view>
    <ion-content class="intro" Overflow-scroll="true" >
        <ion-slide-box show-pager="true" auto-play="true" on-slide-changed="slideChanged($index)">
        <ion-slide style="background-image: url(img/blur.jpg); background-size: cover; color:#FFF; height: 100%; width: 100%;">

           <!-- <img src="img/doctor.jpg">-->
                <h2 style="color:#FFF;">Welcome To</h2>
                <h1 style="color:#FFF;">SaveMom</h1>
                <div id="logo">
                    <img src="img/girl.png" alt="Logo" width="50%"></img>
                </div>
              <h5 style="color:#FFF;">Show intro on App Start?</h5>
                    <label class="toggle toggle-energized">
                        <input type="checkbox" ng-model="showTutorial.checked" ng-change="saveCheck()">
                        <div class="track">
                            <div class="handle"></div>
                        </div><br><br><br><br><br>
                    </label>               
                
               <!-- <button class="button button-assertive  button-block no-animation" ng-click="startApp()" > Get In </button>-->
               
           
            </ion-slide>
            <ion-slide style="background-image: url(img/dig3.jpg); background-size: cover; color:#FFF; height: 100%; width: 100%;">

           <!-- <img src="img/doctor.jpg">-->
                <h2 style="color:#000;">A digital medical assistant for pregnant ladies.</h2>
               <!--  <h2 style="color:#FFF;">It makes simple and easy for them to get the right treatment at right time.</h2>-->
                
                <div id="logo">
                    <img src="img/mom22.png" alt="Logo" width="50%"></img>
                </div>
              <h5 style="color:#000;">Show intro on App Start?</h5>
                    <label class="toggle toggle-energized">
                        <input type="checkbox" ng-model="showTutorial.checked" ng-change="saveCheck()">
                        <div class="track">
                            <div class="handle"></div>
                        </div><br><br><br><br><br>
                    </label>               
                
               <!-- <button class="button button-assertive  button-block no-animation" ng-click="startApp()" > Get In </button>-->
               
           
            </ion-slide>
             <ion-slide style="background-image: url(img/intro3.jpg); background-size: cover; color:#FFF; height: 100%; width: 100%;" >

           <!-- <img src="img/doctor.jpg">-->
                <h3 style="color:#000;"><b>Using SaveMom <br> You Can Get</b></h3>
               <!--  <h2 style="color:#FFF;">It makes simple and easy for them to get the right treatment at right time.</h2>-->
                
              <!--  <div id="logo">
                    <img src="img/grow.png" alt="Logo" width="50%"></img>
                </div>-->
              
               
<p ><font size="4" color="black"><b>
                    Pregnancy week by week info,<br>
                        Baby Growth info,<br>
                        Chat with other Moms.</b></font></p>
            
 <button class="button button-assertive  button-block no-animation" ng-click="startApp()" >
            Get In
        </button><br><br><br><br><br>
                
                
               <!-- <button class="button button-assertive  button-block no-animation" ng-click="startApp()" > Get In </button>-->
               
           
            </ion-slide>
           <!-- <ion-slide style="background-image: url(img/chat3.jpg); background-size: cover; color:#FFF; height: 100%;">

                <h3 style="color:#FFF;">Using SaveMom You Can Get</h3>

                <div  id="list" style="color:#FFF; size:50;" >

                    <ol>
                        <li><strong>Pregnancy week by week info</strong>
                        </li>
                        <li><strong>Baby Growth info</strong>
                        </li>
                        <li><strong>Chat with other Moms.</strong></li>
                    </ol>
                <br>

                <div id="logo">
                    <img src="img/grow.png" alt="Logo"></img>
                </div>
                      <button class="button button-assertive  button-block no-animation" ng-click="startApp()" >
            Get In
        </button>
                </div>
                 <br>
            </ion-slide>-->
        </ion-slide-box>
    </ion-content>
</ion-modal-view>
