<ion-view title="Login" hide-back-button="true">
    <ion-content scroll="true"  style="background: url(img/loginbg.JPG) center; background-size: cover; text-align:center;">

        <div align="center" style="margin-top: 30px; margin-bottom: 30px;" >
                    <img src="img/save.png" width="50%">
        </div>
        <form class="form-signin" role="form" name="signForm">
            <div class="list">
                <label class="item item-input item-floating-label" >
                    <span class="input-label" style="color:#050505" ><b>Email Address</b></span>
                    <input type="email" name="email" ng-model="user.email"  placeholder="Email Address">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label"  style="color:#050505"><b>Password</b></span>
                    <input type="password" name="password" ng-model="user.password"  placeholder="Password">
                </label>
                    <!--    <label class="item item-input ">
                    <span class="input-label">User category</span>
                </label>  
                <div class="item item-divider">                                                  
                </div>
                <ion-radio ng-repeat="item in clientSideList"
                           ng-value="item.value"
                           ng-model="data.clientSide">
                  {{ item.text }}
                </ion-radio> -->
            </div>
           
         
          <!--  <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>-->
            <button class="button button-block button-assertive" ng-click="SignIn($event)" ng-disabled="!user.email || !user.password">
                Log In
            </button>

          <!--   <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
            <button class="button button-block button-assertive" ng-click="SignUp()" >
                SignUp
            </button>-->
        </form>

        <div align=center><a ui-sref="forgot">Forgot Password</a></div>    
         <!-- <div align=center><a ui-sref="register">Sign Up</a></div> -->
    </ion-content>
</ion-view>