<ion-view title="{{growth.title2}}" style="text-align:center;">
    
    <ion-content class="has-header">
  <!--  <div class="item item-image">
    <img src="img/lg.jpg" style="width:70%">
  </div>-->
    <div class="w3-image ">
    <img src="{{growth.Img}}" style="width:100%" alt="baby">
  </div>
       
   <div class="w3-card-4 w3-margin-top" style="width:100%;">
             
         <ul class="w3-ul">
    
  <!--  <li>
      <h5><b>Name </b></h5> <h5>{{chat.Name}}</h5>
    </li>-->
    <li>
     <h5> {{growth.data}}</h5>
    </li>
   
  </ul>     
        
    </div>        
            
             
      
               </ion-content>
</ion-view> 
    