<ion-view title="Schemes" style="background-color:#f6f6f6">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
  <!--   <header class="w3-container w3-blue-grey w3-padding" id="myHeader">
    <div class="w3-center">
    <h2 class="w3-blue-grey"><font color="white">List of schemes</h2>
  
    </font>
  </div>
</header>-->
 <ion-list>
            <ion-item ng-repeat="data in gscheme" >

             <div class="w3-card-4" style="width:100%;">
             
            <header class="w3-container w3-blue-grey item-text-wrap" style="padding-bottom: 5px; padding-top: 5px;">
              <h2 style="color:#FFF; text-align: center; font-size: 25px">{{data.name}}</h2>
            </header>

                <div class="w3-container item-text-wrap w3-margin-top">
               
                <p> <b>{{data.benefit}}</b></p>
              
                </div>
                <br/>
            </div>           
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>
